@charset "UTF-8";

:root{
    --cor01:#F4D26C;
    --cor02:#F2BE22;
    --cor03:#BF961B;
    --cor04:#736332;
    --cor05:#735A10;
}

body{
    margin: 0px;
    background-color:white;
}

header{
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

nav div{
    margin: 8px;   
    width: 100px;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 13px;
    border-radius: 6px;
    transition-duration: .3s;
    margin: auto;
    width: 90px;
    height: 20px;
    display: block;
}

nav a:hover{
    background-color: var(--cor05);
}

div.apresentacao{
    margin: auto;
    padding-bottom: 34%;
    position: relative;
} 

div.logo{
    width: 26vw;
    height: 0vw;
    margin-left: 0vw;
}

div.text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 1000px; 
    height: 15vw;
    margin: auto;
}

div.text > h1{
    margin: auto;
    font-size: 8vw;
    text-align: center;
}

div.text > p{
    margin: auto;
    font-size: 3vw;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color: white;
}

main img{
    max-width: 100%;
    display: block;
}

main p{
    text-align: center;
}

main div.icone{
    flex: 1 1 100px;
    max-width: 100px;
    margin: 50px 140px;   
}

div.icone {
    width: 100px;
    height: 100px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    background-color:var(--cor04);
}

footer div.rodape{
    flex: 1 1 400px;
    max-width: 400px;
    margin: 0px 40px;
}

footer p{
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    padding: 0px 3px;
    border-radius: 6px;
    transition-duration: .3s;
}

footer a:hover{
    background-color: var(--cor02);
    color: var(--cor05);
}
